@model UI_ComputerStore.Models.LoginViewModel

@{
    ViewData["Title"] = "LogIn";
}

<link href="~/css/login-page.css" rel="stylesheet" />

<div class="content-div">

    <h1>Login</h1>

    <form asp-action="LogIn" id="form-container">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input id="log-inp" asp-for="Login" placeholder="Login" autocomplete="off" class="form-control" />
            <span asp-validation-for="Login" class="text-danger error-message"></span>
        </div>
        <div class="form-group">
            <input id="pass-inp" asp-for="Password" placeholder="Password" autocomplete="off" class="form-control" />
            <span asp-validation-for="Password" class="text-danger error-message"></span>
        </div>
        <div class="form-group">
            <input id="submit-btn" type="submit" value="Sign In" class="btn btn-primary" />
        </div>
    </form>
</div>
@if ((string)TempData["Error"] != null)
{
    @await Html.PartialAsync("/Views/Alert/ErrorAlert.cshtml", (string)TempData["Error"])
    @TempData.Remove("Error")
}
@if ((string)TempData["Success"] != null)
{
    @await Html.PartialAsync("/Views/Alert/SuccessAlert.cshtml", (string)TempData["Success"])
    @TempData.Remove("Success")
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
