@model Domain_ComputerStore.Models.User

<div class="personalData">
    <h1>Personal data</h1>

    <p class="p-name-first">Surname</p>
    <p class="p-value">@Model.Surname</p> @*add model value*@

    <p class="p-name">Name</p>
    <p class="p-value">@Model.Name</p> @*add model value*@

    <p class="p-name">Patronymic</p>
    <p class="p-value">@Model.Patronymic</p> @*add model value*@

    <p class="p-name">Phone</p>
    <p class="p-value">+@Model.PhoneNumber</p> @*add model value*@

    <p class="p-name">Email</p>
    <p class="p-value">@Model.Email</p> @*add model value*@

</div>
<div class="accountController">

</div>
