<form class="form-group" asp-action="UpBalance" method="post">
    <h1>Top up balance</h1>

    <p class="p-name">Mastercard number</p>
    <input class="pass-inp" type="text" name="cardNumber" value="" />

    <p class="p-name">CVV</p>
    <input class="pass-inp" type="password" name="cvv" value="" />

    <p class="p-name">Amount UAH</p>
    <input class="pass-inp" type="text" name="amount" value="" />

    <input id="submit-btn" type="submit" name="name" value="Top up" />
</form>