<form class="form-group" asp-action="ChangePassword" method="post">
    <h1>Change password</h1>

    <p class="p-name">Old password</p>
    <input class="pass-inp" type="password" name="OldPassword" value="" />

    <p class="p-name">New password</p>
    <input class="pass-inp" type="password" name="Password" value="" />

    <p class="p-name">Repeat password</p>
    <input class="pass-inp" type="password" name="ConfirmPassword" value="" />

    <input id="submit-btn" type="submit" name="name" value="Change" />
</form>