<link href="~/css/info_style.css" rel="stylesheet">


<div class="content-container">
    <h1>Delivery</h1>
    <img src="~/images/info/delivery_img.jpg" />
    <ul>
        <li><p>You can to get your order in any city in Ukraine.</p></li>
        <li><p>When placing an order, you see the full amount that you will spend on delivery.</p></li>
        <li><p>The cash on delivery service in our store is free.</p></li>
        <li><p>Almost all goods are in stock at the time of ordering, so more than 80% of orders are dispatched within 24 hours.</p></li>
    </ul>

    <h2 class="bold">Delivery methods</h2>
    <h2>Pickup from the store (Kiev, Dnipro and Kharkov)</h2>
    <p>Self-pickup in our store is free of charge.</p>
    <p>In the store, you can check the purchased item before picking it up.</p>
    <ul>
        <li><p>Kiev, st. Vadim Getmana, 6, SEC "Cosmopolite", Building B, 4th floor, Showroom "ComputerShop"</p></li>
        <li><p>Kiev, st. Mishugi, 10, SEC "Parallel", Showroom "ComputerShop"</p></li>
        <li><p>Dnipro, Prospect D. Yavornitskogo, 100 (entrance from the street Knyagini Olga, 1), Showroom "ComputerShop"</p></li>
        <li><p>Almost all goods are in stock at the time of ordering, so more than 80% of orders are dispatched within 24 hours.</p></li>
    </ul>

    <h2>Delivery service to the department</h2>
    <h2 class="bold">To the office of "Novaya Pochta"</h2>
    <img src="~/images/info/order_data.png" />
    <ul>
        <li><p>Delivery times are 1-3 business days.</p></li>
        <li><p>There is no cash on delivery commission.</p></li>
        <li><p>The exact cost of delivery will be indicated on the checkout page or announced by managers when placing an order.</p></li>
    </ul>

    <p><span>Important!</span> Be sure to check the integrity, condition and appearance of the goods before signing the bill of lading and making payment.</p>
    <p>Couriers and the delivery service are responsible for the safety of your ordered goods during the delivery process.</p>
    <p>In case of damage to the goods, it is necessary to refuse to receive the order, including the paid one, and be sure to draw up a Claim or Act of non-conformity, and also inform us about the incident by number: (067) 400-08-80 or (044) 392-84-94.</p>
    <p>Unfortunately, if you receive damaged goods without a claim drawn up together with an employee of the carrier company, we will not be able to compensate you for the cost of the paid order or exchange it for a new one.</p>
    <p><span>Notification after registration</span></p>
    <p>After confirming your order by our manager, you will receive an SMS notification with the order number.</p>

    <h2>Checking the integrity of the goods</h2>
    <ul>
        <li><p>Before finalizing your purchase and picking up the product you ordered, make sure it works.</p></li>
        <li><p>Check the integrity of the device and the absence of external defects, chips, etc.</p></li>
        <li><p>Check the consistency of the equipment, color, model.</p></li>
        <li><p>Only after you have made sure that the received product meets your expectations, is functional and does not have external defects, you can sign a consignment note or an acceptance certificate - depending on how you receive your order.</p></li>
    </ul>
</div>
