<link href="~/css/info_style.css" rel="stylesheet">

<div class="content-container">
    <h1>Payment</h1>
    <ul>
        <li><p>Any of the available payment methods is free.</p></li>
        <li><p>No hidden fees.</p></li>
        <li><p>For some types of payment, we provide discounts on the order.</p></li>
    </ul>

    <h2 class="bold">Ways of payment</h2>
    <h2>Cash payment</h2>

    <p>Payment is made immediately at the time of receipt, before checking the goods and filling out all the necessary documents. Payment is made in stores ComputerShop</p>

    <h2>Payment by bank account</h2>
    <p><span>For retail buyers</span></p>
    <p>Payment is made after the order has been agreed with our managers.</p>
    <p>Receiving orders paid in this way is possible if there is a document proving the identity of the recipient specified when placing the order.</p>
    <p><span>For legal entities</span></p>
    <p>Payment is made after the order has been agreed with our managers.</p>
    <p>Receiving orders paid in this way by a legal entity or an individual entrepreneur is possible if there is a power of attorney to receive goods and materials and an identity document of the recipient specified when placing the order.</p>

    <h2>C.O.D</h2>
    <p>Payment is made at the time of receipt of the order, after checking the goods and filling in all the necessary documents. Payment is made at the points of issue of postal operators or when the order is issued by a courier.</p>

    <h2>Payment by card online</h2>
    <p>After choosing this payment method, you will be redirected to the payment service to pay for your order online. Receiving orders paid in this way is possible if there is an identity document of the recipient specified when placing the order.</p>

    <h2>Payment by card upon receipt of goods</h2>
    <p>Payment is made at the time of receipt of the order, after checking the goods and filling in all the necessary documents. Payment is made at the points of issue of postal operators.</p>
    <p>When placing an order, a legal entity or individual entrepreneur must provide information:</p>
    <ul>
        <li><p>The name of the company or the full name of the entrepreneur.</p></li>
        <li><p>EDRPOU / INN code.</p></li>
        <li><p>Full name and telephone number of the contact person.</p></li>
    </ul>

    <p>In the case of placing an order for payment with VAT, the actual cost of the goods will be specified by our manager after placing the order. For some products, it may differ from the website price. After agreeing on all the details of the order, our manager sends an invoice to the client's e-mail with the payment details of our store. The invoice is valid for 2 business days.</p>

    <h2>Payment by installments monobank</h2>
    <ul>
        <li><p>The possible installment period is from 3 to 6 months and depends on the cost and category of goods.</p></li>
        <li><p>The minimum order value is UAH 500, the maximum - UAH 100,000.</p></li>
        <li><p>After placing an order with this type, you will receive a Push notification from monobank with payment information on your phone.</p></li>
        <li><p>Receiving orders paid in this way is possible if there is a document proving the identity of the buyer specified when placing the order.</p></li>
    </ul>

    <h2 class="bold">Additional Information</h2>
    <p>In individual cases, an advance payment may be required, the amount of which is agreed with the manager when confirming the order.</p>
</div>
    
